.footer {
  text-align: center;
}
iframe{
    display: flex;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
